<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>

<div class="modal fade small" id="loading_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div id='my-spinner'>
        <div>
    <span>
    	<img src='//cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif'>
    </span>
        </div>
    </div>
</div>

<!-- modal S -->
<div class="modal fade small" id="add_sum_point_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">누적 승점 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">누적 승점 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="addSumPointNickName" id="addSumPointNickName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 누적 승점</th>
                            <td>
                                <input type="text" name="totalSumPoint" id="totalSumPoint" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">적립 누적 승점</th>
                            <td>
                                <input type="text" name="addRankSumPoint" id="addRankSumPoint" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:addRankSumPoint();">적립</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('add_sum_point_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_sum_point_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">누적 승점 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">누적 승점 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusSumPointNickName" id="minusSumPointNickName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 포인트</th>
                            <td>
                                <input type="text" name="totalMinusSumPoint" id="totalMinusSumPoint" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 포인트</th>
                            <td>
                                <input type="text" name="minusRankSumPoint" id="minusRankSumPoint" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red btn-primary" th:onclick="javascript:minusRankSumPoint();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_sum_point_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="add_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">회원 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">주간 티켓 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="addTicketNickName" id="addTicketNickName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 티켓</th>
                            <td>
                                <input type="text" name="totalTicket" id="totalTicket" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">적립 티켓</th>
                            <td>
                                <input type="text" name="addTicket" id="addTicket" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:addTicket();">적립</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('add_ticket_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">회원 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">주간 티켓 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName" id="minusTicketNickName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket" id="totalMinusTicket" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 티켓</th>
                            <td>
                                <input type="text" name="minusTicket" id="minusTicket" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:minusTicket();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade large" id="history_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">주간 티켓 내역 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box" style="height:400px;">
                    <p class="tb_tit">주간 티켓 내역 정보</p>
                    <table class="form">
                        <thead>
                        <tr>
                            <th scope="col">적립구분</th>
                            <th scope="col">주간티켓수량</th>
                            <th scope="col">일자</th>
                            <th scope="col">처리자</th>
                        </tr>
                        </thead>
                        <tbody id="historyTbodyTicket">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('history_ticket_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="add_ticket_modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">회원 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">월간 티켓 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="addTicketNickName3" id="addTicketNickName3" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 티켓</th>
                            <td>
                                <input type="text" name="totalTicket3" id="totalTicket3" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">적립 티켓</th>
                            <td>
                                <input type="text" name="addTicket3" id="addTicket3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:addTicket3();">적립</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('add_ticket_modal3');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">회원 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">월간 티켓 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName3" id="minusTicketNickName3" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket3" id="totalMinusTicket3" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 티켓</th>
                            <td>
                                <input type="text" name="minusTicket3" id="minusTicket3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:minusTicket3();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal3');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- container S -->
<div class="container">
    <!-- header S -->
    <div th:replace="/fragments/left.html :: fragment-left('m2', '/user/rank/list')"></div>
    <!-- header E -->

    <!-- content S -->
    <div class="content">
        <div class="con_top">
            <ul>
                <li>회원관리</li>
                <li>회원 Ranking</li>
            </ul>
        </div>
        <p class="page_info">회원 Ranking</p>

        <form id="schFrm">
            <div class="search_option">
                <span class="input_group">
                    <select id="schCond1" name="schCond1" style="width:100px;">
                        <option value="week" th:selected="${params.schCond1} == 'week'">주간승점순</option>
                        <option value="sum" th:selected="${params.schCond1} == 'sum'">누적승점순</option>
                    </select>

                    <select id="schCond2" name="schCond2" style="width:150px;">
                        <option value="">전체</option>
                        <option th:each="list:${agentTotalList}" th:value="${list.agentCode}" th:text="${list.agentName}" th:selected="${list.agentCode} == ${params.schCond2}"></option>
                    </select>

                    <input type="text" style="width:1000px;" id="schText" name="schText" placeholder="검색어" th:value="${params.schText}" onkeyup="if(window.event.keyCode==13){fnSearch()}">
                </span>
                <button type="button" class="search_btn" th:onclick="javascript:fnSearch();">조회</button>
                <button type="button" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="change_btn" th:onclick="javascript:fnWeekRankMove();">주간승점 이관</button>
                <button type="button" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="reset_btn" th:onclick="javascript:fnWeekRankDef();">주간승점 초기화</button>
                <button type="button" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="reset_btn" th:onclick="javascript:fnSumRankDef();">누적승점 초기화</button>
            </div>
        </form>

        <div class="list_box">
            <table class="list">
                <colgroup>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col" rowspan="2">RANKING</th>
                    <th scope="col" rowspan="2">별명</th>
                    <th scope="col" rowspan="2" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_VIEW')">포인트</th>
                    <th scope="col" colspan="2">승점</th>
                    <th scope="col" colspan="2">누적 승점 처리</th>
                    <th scope="col" rowspan="2">총 주간 티켓</th>
                    <th scope="col" colspan="2" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_AGENT','ROLE_ADMIN')" >주간 티켓 처리</th>
                    <th scope="col" rowspan="2">주간 티켓 내역</th>
                    <th scope="col" rowspan="2">총 월간 티켓</th>
                    <th scope="col" colspan="2" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_AGENT','ROLE_ADMIN')" >월간 티켓 처리</th>
                    <th scope="col" rowspan="2">월간 티켓 내역</th>
                    <th sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" scope="col" rowspan="2">전화번호</th>
                    <th sec:authorize="hasRole('ROLE_AGENT')" scope="col" rowspan="2">전화번호</th>
                    <th scope="col" rowspan="2">등록일자</th>
                    <th scope="col" rowspan="2">최근 방문 일자</th>
                </tr>
                <tr>
                    <th scope="col">주간 승점</th>
                    <th scope="col">누적 승점</th>
                    <th scope="col">누적 승점 적립</th>
                    <th scope="col">누적 승점 차감</th>
                    <th scope="col" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_AGENT','ROLE_ADMIN')" >적립</th>
                    <th scope="col" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_AGENT','ROLE_ADMIN')" >사용</th>
                    <th scope="col" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_AGENT','ROLE_ADMIN')" >적립</th>
                    <th scope="col" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_AGENT','ROLE_ADMIN')" >사용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list:${userRankList}">
                    <td th:text="${list.ranking}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: coral;font-size: medium;' : ''"></td>
                    <td th:text="${list.nickName}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_VIEW')" th:text="${list.point}" style="text-align: end;"></td>
                    <td th:text="${list.rankPointStr}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td th:text="${list.rankSumPointStr}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td>
                        <button type="button" class="tb_btn blue" th:onclick="javascript:fnAddRankSumPoint([[${list.phoneNum}]], [[${list.nickName}]], [[${list.rankSumPointStr}]])">적립</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn red" th:onclick="javascript:fnMinusRankSumPoint([[${list.phoneNum}]], [[${list.nickName}]], [[${list.rankSumPointStr}]])">차감</button>
                    </td>
                    <td th:text="${list.ticket}"></td>
                    <td>
                        <button type="button" class="tb_btn blue" th:onclick="javascript:fnAddTicket([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket}]])">적립</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket}>0" th:onclick="javascript:fnTicketUse([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket}]])">차감</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td th:text="${list.ticket3}"></td>
                    <td>
                        <button type="button" class="tb_btn blue" th:onclick="javascript:fnAddTicket3([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket3}]])">적립</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket3}>0" th:onclick="javascript:fnTicketUse3([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket3}]])">차감</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory3([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" th:text="${list.phoneNum}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td sec:authorize="hasRole('ROLE_AGENT')" th:text="${list.phoneNumMasking}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td th:text="${list.regDate}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td th:text="${list.maxDate}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div class="paging" title="페이지">

            <th:block layout:fragment="paging">
                <nav th:replace="/fragments/pagination.html :: fragment-pagination"></nav>
            </th:block>

            <th:block layout:fragment="script">
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    function movePage(uri, queryString) {
                        location.href = uri + queryString;
                    }

                    /*]]>*/
                </script>
            </th:block>

        </div>
        <!-- /pagination -->

    </div>
    <!-- content E -->

</div>
<!-- container E -->
</body>
<script th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript">

    var selectTrSeq;

    $( function() {
    });

    function fnSearch(){
        $("#schFrm").submit();
    }

    function fnModalClose(id){
        $("#"+id).hide();
    }

    function fnWeekRankMove(){
        var msg = "전체 주간 승점을 누적승점으로 이동 하시겠습니까?";
        if(confirm(msg)){
            $.ajax({
                contentType:false,
                processData:false,
                type: "POST",
                url: "/user/updateAllUserRankMoveAjax",
                success: function(response) {
                    // 성공 시 동작
                    alert(response.resultMsg);
                    window.location.reload();
                },
                error: function(error) {
                    // 실패 시 동작
                }
            });
        }
    }

    function fnWeekRankDef(){
        var msg = "전체 주간 승점 초기화 하시겠습니까?";
        if(confirm(msg)){
            $.ajax({
                contentType:false,
                processData:false,
                type: "POST",
                url: "/user/updateAllUserWeekRankDefAjax",
                success: function(response) {
                    // 성공 시 동작
                    alert(response.resultMsg);
                    window.location.reload();
                },
                error: function(error) {
                    // 실패 시 동작
                }
            });
        }
    }

    function fnSumRankDef(){
        var msg = "전체 누적 승점 초기화 하시겠습니까?";
        if(confirm(msg)){
            $.ajax({
                contentType:false,
                processData:false,
                type: "POST",
                url: "/user/updateAllUserRankDefAjax",
                success: function(response) {
                    // 성공 시 동작
                    alert(response.resultMsg);
                    window.location.reload();
                },
                error: function(error) {
                    // 실패 시 동작
                }
            });
        }
    }

    function fnAddRankSumPoint(phoneNum, nickName, point){
        selectTrSeq = phoneNum;

        $("#addSumPointNickName").val(nickName);
        $("#totalSumPoint").val(point);
        $("#add_sum_point_modal").show();

        $("#addRankSumPoint").focus();
    }

    function fnMinusRankSumPoint(phoneNum, nickName, point){
        if(point < 1){
            alert("차감할 승점이 없습니다.");
            return;
        }

        selectTrSeq = phoneNum;

        $("#minusSumPointNickName").val(nickName);
        $("#totalMinusSumPoint").val(point);
        $("#minus_sum_point_modal").show();

        $("#minusRankSumPoint").focus();
    }

    function addRankSumPoint(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("addRankSumPoint", $("#addRankSumPoint").val());

        $("#add_sum_point_modal").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/rank/updateUserAddSumRankPointAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });
    }

    function minusRankSumPoint(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusRankSumPoint", $("#minusRankSumPoint").val());

        $("#minus_sum_point_modal").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/rank/updateUserMinusSumRankAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });
    }

    function fnAddTicket(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#addTicketNickName").val(nickName);
        $("#totalTicket").val(ticket);
        $("#add_ticket_modal").show();

        $("#addTicketPoint").focus();
    }

    function addTicket(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("addTicket", $("#addTicket").val());

        $("#add_ticket_modal").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserAddTicketAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });
    }

    function fnTicketUse(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName").val(nickName);
        $("#totalMinusTicket").val(ticket);
        $("#minus_ticket_modal").show();

        $("#minusTicket").focus();
    }

    function minusTicket(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket").val());

        $("#minus_ticket_modal").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicketAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });
    }

    function fnTicketHistory(phoneNum){
        $("#historyTbodyTicket").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistoryAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbodyTicket").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function fnAddTicket3(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#addTicketNickName3").val(nickName);
        $("#totalTicket3").val(ticket);
        $("#add_ticket_modal3").show();

        $("#addTicketPoint3").focus();
    }

    function addTicket3(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("addTicket", $("#addTicket3").val());

        $("#add_ticket_modal3").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserAddTicket3Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });
    }

    function fnTicketUse3(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName3").val(nickName);
        $("#totalMinusTicket3").val(ticket);
        $("#minus_ticket_modal3").show();

        $("#minusTicket3").focus();
    }

    function minusTicket3(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket3").val());

        $("#minus_ticket_modal3").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicket3Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });
    }

    function fnTicketHistory3(phoneNum){
        $("#historyTbodyTicket").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistory3Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbodyTicket").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

</script>

</html>
