<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <title>타바요</title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="타바요" />
  <meta name="keywords" content="타바요" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:title" content="타바요" />
  <meta property="og:description" content="타바요" />
  <link rel="stylesheet" href="./css/common.css">
  <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>


  <!-- container S -->
  <div class="container">

    <!-- content S -->
    <div class="content login">
      <div class="login_wrap">
        <h1><img src="img/logo.png" alt="타바요"></h1>
        <div class="login_box">
          <p class="tit">관리자로그인</p>
          <div class="input_box">
            <p class="group">
              <input type="text" placeholder="로그인 ID">
              <input type="password" placeholder="비밀번호">
            </p>
            <button type="button" class="btn_login">로그인</button>
          </div>

          <p class="check_group">
            <span class="check_box">
              <input type="checkbox" id="login-option1"><label for="login-option1">아이디 저장</label>
            </span>
            <span class="check_box">
              <input type="checkbox" id="login-option2"><label for="login-option2">자동 로그인</label>
            </span>
          </p>

          <P class="bt_link">
            <a href="#">ID/비밀번호 찾기</a>
            <a href="#">사업자 회원가입</a>
          </p>
        </div>
      </div>
    </div>
    <!-- content E -->

  </div>
  <!-- container E -->
</body>
<script src="./js/common.js"></script>

</html>
