<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>

<!-- modal S -->
<div class="modal fade small" id="reg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">prize 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">prize 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row"><em class="required">*</em>Rank</th>
                                <td>
                                    <input type="text" name="rank" id="rank">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Prize Title</th>
                                <td>
                                    <input type="text" name="prizeTitle" id="prizeTitle">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><em class="required">*</em>Prize</th>
                                <td>
                                    <input type="text" name="prize" id="prize">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">추가 Prize</th>
                                <td>
                                    <input type="text" name="addPrize" id="addPrize">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:regPrize();">저장</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('reg_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="upt_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">Prize 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">Prize 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row"><em class="required">*</em>Rank</th>
                                <td>
                                    <input type="text" name="uptRank" id="uptRank">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Prize Title</th>
                                <td>
                                    <input type="text" name="uptPrizeTitle" id="uptPrizeTitle">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><em class="required">*</em>Prize</th>
                                <td>
                                    <input type="text" name="uptPrize" id="uptPrize">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">추가 Prize</th>
                                <td>
                                    <input type="text" name="uptAddPrize" id="uptAddPrize">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:uptPrize();">저장</button>
                <button type="button" class="btn red btn-primary" th:onclick="javascript:delPrize();">삭제</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('upt_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- container S -->
<div class="container">
    <!-- header S -->
    <div th:replace="/fragments/left.html :: fragment-left('m3', '/game/list')"></div>
    <!-- header E -->

    <!-- content S -->
    <div class="content">
        <div class="con_top">
            <ul>
                <li>게임 관리</li>
                <li>Prize 목록</li>
            </ul>
        </div>
        <p class="page_info">Prize 목록</p>

        <form id="schFrm">
            <div class="search_option">
                <span class="input_group">
                    <select id="gameSeq" name="gameSeq" style="width:100px;">
                        <option th:each="list:${gameList}" th:value="${list.seq}" th:text="${list.gameName}" th:selected="${list.seq} == ${gameSeq}"></option>
                    </select>
                </span>
                <button type="button" class="add_btn" th:onclick="javascript:fnRegModal()">등록</button>
            </div>
        </form>

        <div class="list_box">
            <table class="list">
                <colgroup>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">순번</th>
                    <th scope="col">Prize Title</th>
                    <th scope="col">prize</th>
                    <th scope="col">추가 prize</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list:${prizeList}">
                    <td><a href="javascript:callFunction();" th:text="${list.rank}" style="color:blue;" th:onclick="javascript:fnUptModal([[${list.seq}]], [[${list.rank}]], [[${list.prizeTitle}]], [[${list.prize}]], [[${list.addPrize}]])"></a></td>
                    <td th:text="${list.prizeTitle}"></td>
                    <td th:text="${#numbers.formatInteger(list.prize, 0, 'COMMA')}"></td>
                    <td th:text="${list.addPrize}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- content E -->

</div>
<!-- container E -->
</body>
<script th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript">

    var selectTrSeq;

    $( function() {
        $("#gameSeq").change(function(){
            location.href = "/game/prize/list?gameSeq="+$(this).val();
        })
    });

    function fnSearch(){
        $("#schFrm").submit();
    }

    function fnModalClose(id){
        $("#"+id).hide();
    }

    function fnRegModal(){
        $("#reg_modal").show();
    }

    function fnUptModal(seq, rank, prizeTitle, prize, addPrize){
        selectTrSeq = seq;

        $("#uptRank").val(rank);
        $("#uptPrize").val(prize);
        $("#uptPrizeTitle").val(prizeTitle);
        $("#uptAddPrize").val(addPrize);
        $("#upt_modal").show();
    }

    function regPrize(){
        var formData = new FormData();

        if($("#rank").val() == ''){
            alert("Rank는 필수 입니다.");
            $("#rank").focus();
            return;
        }

        if($("#prize").val() == ''){
            alert("Prize는 필수 입니다.");
            $("#prize").focus();
            return;
        }

        formData.append("gameSeq", $("#gameSeq").val());
        formData.append("rank", $("#rank").val());
        formData.append("prizeTitle", $("#prizeTitle").val());
        formData.append("prize", $("#prize").val());
        formData.append("addPrize", $("#addPrize").val());

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/game/prize/insertPrizeAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function uptPrize(){

        if($("#uptRank").val() == ''){
            alert("Rank는 필수 입니다.");
            $("#uptRank").focus();
            return;
        }

        if($("#uptPrize").val() == ''){
            alert("Prize는 필수 입니다.");
            $("#uptPrize").focus();
            return;
        }

        var formData = new FormData();

        formData.append("seq", selectTrSeq);
        formData.append("rank", $("#uptRank").val());
        formData.append("prizeTitle", $("#uptPrizeTitle").val());
        formData.append("prize", $("#uptPrize").val());
        formData.append("addPrize", $("#uptAddPrize").val());

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/game/prize/updatePrizeAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function delPrize(){
        var formData = new FormData();

        formData.append("seq", selectTrSeq);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/game/prize/deletePrizeAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function callFunction() {
        console.log('call function');
    }

</script>

</html>
