@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body,div,ul,li,p,h3,h1,h2,h4,h5{padding:0;margin:0;}
ul,li{list-style:none}
a{text-decoration:none;color:#303030;position:relative;}
textarea,input{font-family: 'Noto Sans KR', sans-serif;}
optgroup,select,button{cursor:pointer}

input::-ms-clear {display: none;}

input::-webkit-input-placeholder{color:#999;font-weight:400}
textarea::-webkit-input-placeholder{color:#999;font-weight:400}
input[type="text"]::-ms-input-placeholder{color:#999 !important;font-weight:400}
input[type="text"]:-ms-input-placeholder{color:#999 !important;;font-weight:400}
input[type="number"]::-ms-input-placeholder{color:#999 !important;;font-weight:400}
input[type="number"]:-ms-input-placeholder{color:#999 !important;;font-weight:400}
input[type="password"]::-ms-input-placeholder{color:#999 !important;;font-weight:400}
input[type="password"]:-ms-input-placeholder{color:#999 !important;;font-weight:400}
textarea:-ms-input-placeholder{color:#999;font-weight:400}
textarea::-ms-input-placeholder{color:#999;font-weight:400}
input::-moz-placeholder{color:#999;font-weight:400}
textarea::-moz-placeholder{color:#999;font-weight:400}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
select::-ms-expand{display:none}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none}
img{vertical-align:top}
caption{display:none}
button{border:none;background:none;position:relative;}
*{margin:0;padding:0;text-decoration:none;-webkit-text-size-adjust:none;outline:0;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing:antialiased}
*{font-family: 'Josefin Sans', 'Noto Sans KR', sans-serif;font-size:10px;line-height:auto;color:#afafaf;font-weight:400;box-sizing: border-box;font-weight: normal;letter-spacing: -0.6px;}
i,em {font-size:inherit;line-height: inherit;font-style: normal}
.blind {display: none  !important;}
.hide {display: none  !important;}
.np {padding: 0 !important;}
span,b,i,strong,em {font-size: inherit;font-weight: inherit;line-height: inherit;color: inherit; letter-spacing: inherit;}
table{width:100%;border:0;border-collapse:collapse;border-spacing:0;empty-cells:show;}

.wrap{width:100%;height:100%;position:relative;}
.container{position:fixed;top:0;left:0;width:100%;height:100%;background:url(/static/img/play/bg.jpg) no-repeat top center #0e0e0e;background-size: 100%;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.container .content {position:relative;width:100%;height:calc(100% - 10rem);max-width:1536px;max-height:864px;display:flex;padding-bottom:4rem;}


.left{width:320px;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.left h1{height:12rem;min-height:12rem;display:flex;align-items:center;}
.left h1 img{width:56px;margin-bottom:2rem;}
.left .inner{border-right:1px solid #d8b34b;padding:0 4rem;width:100%;height:48.4rem;display:flex;flex-direction:column;justify-content:flex-end;}

.rank1{width:100%;padding:0 0 1rem 0;margin-bottom:1rem;border-bottom:1px dashed #878688;}
.rank1 dl{display:flex;justify-content:space-between;margin-bottom:0.8rem;}
.rank1 dl dt{font-size:2.7rem;color:#fff;}
.rank1 dl dd {
    font-size: 2.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color:gold;
    font-weight: bold;
}

.small-font {
font-size: 2.3rem !important;
}
.rank1 dl:last-child{margin-bottom:0;}

.rank2{width:100%;height:28.2rem;margin-bottom:16px;border-bottom:1px dashed #878688;}
.rank2 dl{display:flex;justify-content:space-between;margin-bottom:0.8rem;opacity: 0;transition: opacity 0.4s ease}
.rank2 dl.show{opacity:1;}
.rank2 dl dt{font-size:2.3rem;color:#aeaeae;}
.rank2 dl dd{font-size:2.3rem;color:darksalmon;}

.total{}
.total dl{width:100%;text-align:center;}
.total dl dt{font-size:2.2rem;font-weight:bold;margin-bottom:0.4rem;}
.total dl dd{font-size:3.8rem;color:#d8b34b;font-weight:bold;}



.center{width:870px;display:flex;justify-content:center;flex-direction: column;}
.center h2{font-size:6rem;color:#ffd04a;font-family:'Noto Sans KR';font-weight:bold;width:100%;text-align:center;height:12rem;min-height:12rem;display:flex;justify-content:center;align-items:center;}
.center h2 span{margin-bottom:2rem;}
.center .inner{height:48.4rem;border-right:1px solid #d8b34b;padding:0 4rem;}
.center .info1 {display:flex;justify-content:center;align-items:center;background:linear-gradient(90deg, rgba(0,0,0,0.1)0, #140b49, rgba(0,0,0,0.1));height:6rem;}
.center .info1 dt{font-size:3.4rem;color:#ffd04a;font-weight:bold;}
.center .info1 dd{font-size:3.4rem;color:#ffd04a;font-weight:bold;margin-left:15px;}

.center .info2{font-size:22rem;font-weight:bold;color:#dadada;text-align:center;margin:0;text-shadow:0 0 20px #000;display:flex;align-items:center;justify-content:center;height:200px;margin-bottom:2rem;}
.center .info2 span{width:300px;min-width:300px;text-align:left;display:block;padding-top:4rem;d}
.center .info2 span:first-child{text-align: right;}
.center .info3{background:linear-gradient(90deg, rgba(0,0,0,0.1), #140b49, rgba(0,0,0,0.1));height:12rem;display:flex;justify-content:center;align-items:center;flex-direction: column;}
.center .info3 dl{display:flex;justify-content:center;margin:0.5rem;}
.center .info3 dl dt{font-size:4.2rem;color:#ffd04a;font-weight:bold;width:180px;}
.center .info3 dl dd{font-size:4.2rem;color:#ffd04a;font-weight:bold;width:180px;text-align:right;}
.center .info3 dl dd span{margin:0 0.25rem;}

.center .info4{display:flex;justify-content:center;align-items:center;margin:3rem 0 0.5rem 0;}
.center .info4 dt{font-size:3.8rem;font-weight:bold;color:#fff;}
.center .info4 dd{font-size:3.8rem;margin-left:2rem;font-weight:bold;color:#fff;}
.center .info4 dd span{margin:0 0.25rem;}


.right{width:330px;padding-top:12rem;display:flex;flex-direction:column;align-items:center;justify-content: space-between;}
.right .inner{height:48.4rem;padding:0 4rem;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;}
.right .info1{width:100%;border-bottom:1px dashed #878688;padding:0 0 5rem 0;}
.right .info1 dt{font-size:2.2rem;margin-bottom:1rem;font-weight:bold;}
.right .info1 dd{font-size:5rem;color:#fff;}

.right .info2{width:100%;border-bottom:1px dashed #878688;padding:5rem 0;}
.right .info2 dt{font-size:2.5rem;margin-bottom:1rem;font-weight:bold;}
.right .info2 dd{font-size:5.2rem;color:#fff;}

.right .info3{width:100%;padding:5rem 0 0 0;}
.right .info3 dt{font-size:2.5rem;margin-bottom:1rem;font-weight:bold;}
.right .info3 dd{font-size:5.2rem;color:#fff;}



.bottom{width:100%;height:14rem;background:linear-gradient(90deg, #141414, #5d5d5d, #141414);}
.bottom .inner{width:100%;max-width:1536px;display:flex;justify-content:center;margin:0 auto;}
.bottom dl{display:flex;align-items:center;margin:2rem 1rem 1.2rem 1rem;padding:0 2rem 0 0;border-right:1px solid rgba(255,255,255, 10%);}
.bottom dl dt{font-size:1.6rem;color:#fff;font-weight:bold;margin-right:1rem;}
.bottom dl dd{}
.bottom dl dd a{cursor: pointer;border-radius:100%;background:#fff;width:5rem;height:5rem;display:inline-block;
  margin:0 0.2rem;color:#60626e;font-size:4rem;text-align:center;font-family:'Noto Sans KR';line-height:3.4rem;
  box-shadow:0 0 10px rgb(0 0 0 / 40%);}

.bottom .btn{display:flex;align-items:center;margin:2rem 1rem 1.2rem 0;padding:0 2rem 0 1rem;}
.bottom .btn a{cursor: pointer;border-radius:100%;width:5rem;height:5rem;display:inline-block;
  margin:0 0.5rem;color:#60626e;font-size:0;box-shadow:0 0 10px rgb(0 0 0 / 40%);}

.bottom .btn1{background:url(/static/img/play/btn1.jpg)no-repeat center center #6d6d6d;}
.bottom .btn2{background:url(/static/img/play/btn2.jpg)no-repeat center center #6d6d6d;}
.bottom .auto_btn2{background:url(/static/img/play/auto_btn2.jpg)no-repeat center center #b8d8da;}
.bottom .btn3{background:url(/static/img/play/btn3.jpg)no-repeat center center #6d6d6d;}
.bottom .btn4{background:url(/static/img/play/btn4.jpg)no-repeat center center #6d6d6d;}
.bottom .btn5{background:url(/static/img/play/btn5.jpg)no-repeat center center #6d6d6d;}
.bottom .btn6{background:url(/static/img/play/btn6.jpg)no-repeat center center #6d6d6d;}






/**/
