<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>
<div class="modal fade small" id="loading_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div id='my-spinner'>
        <div>
        <span>
            <img src='//cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif'>
        </span>
        </div>
    </div>
</div>

<!-- modal S -->
<div class="modal fade large" id="reg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">프라이즈 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">프라이즈정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row"><em class="required">*</em>전화번호</th>
                            <td>
                                <span name="phoneNum" id="phoneNum"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">닉네임</th>
                            <td>
                                <span name="nickName" id="nickName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">등수</th>
                            <td>
                                <input type="number" name="rankNum" id="rankNum" th:value="0">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td>
                                <input type="text" name="regName" id="regName">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">주민번호</th>
                            <td>
                                <input type="text" name="regId" id="regId">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">계좌번호(은행명)</th>
                            <td>
                                <input type="text" name="bankNum" id="bankNum">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">시상금액</th>
                            <td>
                                <input type="number" name="prize" id="prize">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">추가시상 초대원 장수</th>
                            <td>
                                <input type="number" name="addPrize" id="addPrize">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:fnRegPrize();">등록</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('reg_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- container S -->
<div class="container">
    <!-- content S -->
    <div>
        <div class="con_top">
            <ul>
                <li>회원관리</li>
                <li>목록</li>
            </ul>
        </div>
        <p class="page_info">회원 목록</p>

        <form id="schFrm">
            <input type="hidden" id="pointInt" name="pointInt" th:value="${userInfo.pointInt}">
            <input type="hidden" id="schPhoneNum" name="schPhoneNum" >

            <div class="search_option">
                <span class="input_group">
                    <select id="schCond1" name="schCond1" style="width:100px;">
                        <option value="nick" th:selected="${params.schCond1} == 'nick'">별명</option>
                        <option value="phone" th:selected="${params.schCond1} == 'phone'">전화번호</option>
                    </select>

                    <select id="schCond2" name="schCond2" style="width:150px;">
                        <option value="">전체</option>
                        <option th:each="list:${agentTotalList}" th:value="${list.agentCode}" th:text="${list.agentName}" th:selected="${list.agentCode} == ${params.schCond2}"></option>
                    </select>

                    <input type="text" style="width:1000px;" id="schText" name="schText" placeholder="검색어" th:value="${params.schText}" onkeyup="if(window.event.keyCode==13){fnSearch()}">
                </span>
                <button type="button" class="search_btn" th:onclick="javascript:fnSearch();">조회</button>
            </div>
        </form>

        <div class="list_box">
            <table class="list">
                <colgroup>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">별명</th>
                        <th scope="col" rowspan="2">지점</th>
                        <th scope="col" rowspan="2">전화번호</th>
                        <th scope="col" rowspan="2">KLPT</th>
                        <th scope="col" rowspan="2">프리T</th>
                        <th scope="col" rowspan="2">K초대권</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="list:${userList}">
                    <td><a href="javascript:callFunction();" th:text="${list.nickName}" style="color:blue;" th:onclick="javascript:fnPrize([[${list.phoneNum}]], [[${list.nickName}]])"></a></td>
                    <td th:text="${list.agentName}"></td>
                    <td th:text="${list.phoneNumMasking}"></td>
                    <td th:text="${list.ticket5}"></td>
                    <td th:text="${list.ticket2}"></td>
                    <td th:text="${list.ticket4}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div class="paging" title="페이지">

            <th:block layout:fragment="paging">
                <nav th:replace="/fragments/pagination.html :: fragment-pagination"></nav>
            </th:block>

            <th:block layout:fragment="script">
                <script th:inline="javascript">
						/*<![CDATA[*/

						function movePage(uri, queryString) {
							location.href = uri + queryString;
						}

						/*]]>*/
					</script>
            </th:block>

        </div>
        <!-- /pagination -->

    </div>
    <!-- content E -->

</div>
<!-- container E -->
</body>
<script th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript">

    var selectTrSeq;

    function callFunction() {
        console.log('call function');
    }

    $( function() {
    });

    function fnSearch(){
        $("#schFrm").submit();
    }

    function fnModalClose(id){
        $("#"+id).hide();
    }

    function fnPrize(phoneNum, nickName){
        selectTrSeq = phoneNum;

        $("#phoneNum").text(phoneNum);
        $("#nickName").text(nickName);
        $("#reg_modal").show();
    }

    function fnRegPrize(){
        $("#loading_modal").show();

        var rankNum = $("#rankNum").val();
        var regName = $("#regName").val();
        var regId = $("#regId").val();
        var bankNum = $("#bankNum").val();
        var prize = $("#prize").val();
        var addPrize = $("#addPrize").val();

        window.opener.prizeInsert(selectTrSeq, rankNum, regName, regId, bankNum, prize, addPrize);
        window.close();
    }

</script>

</html>
