<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="fragment-header">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="Enclouds" />
    <meta name="keywords" content="Enclouds" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="Enclouds" />
    <meta property="og:description" content="Enclouds" />

    <title>킹스힐포인트</title>

    <link rel="shortcut icon" th:href="@{/static/img/logo.png}">

    <link th:rel="stylesheet" th:href="@{/static/css/common.css}">
    <link th:rel="stylesheet" th:href="@{/static/css/custom.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/editor.js}"></script>
    <script th:src="@{/static/js/bxlcommon.js}"></script>
    <script th:src="@{/static/js/bxllabel.js}"></script>
    <script th:src="@{/static/js/bxlpos.js}"></script>

    <script>
        $(document).ready(function() {
            $('input[type="text"]').keydown(function() {
                if (event.keyCode === 13) {
                    event.preventDefault();
                };
            });
        });

    </script>

</html>