<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div id="header" th:fragment="fragment-left(msrc, hrefsrc)">
    <div class="top">
        <h1><a href="#" class="logo"><span class="blind">킹스힐포인트</span></a></h1>
        <button type="button" class="btn_side_menu">사이드메뉴</button>
    </div>
    <!-- side menu S -->
    <div class="side_menu">
        <div class="inner">
            <div class="top_info">
                <p class="name">
                    <em style="font-size: smaller;color:cyan;" th:text="|${userInfo.agentName}님 ${userInfo.point}P|"></em></br>
                    <em style="font-size: smaller;color:yellow;" th:text="|주간티켓 : ${userInfo.ticket}장|"></em></br>
                    <em style="font-size: smaller;color:deepskyblue;" th:text="|프리티켓 : ${userInfo.ticket2}장|"></em></br>
                    <em style="font-size: smaller;color:chartreuse;" th:text="|시티티켓 : ${userInfo.ticket3}장|"></em></br>
                    <em style="font-size: smaller;color:red;" th:text="|팀프로티켓 : ${userInfo.ticket4}장|"></em></br>
                    <em style="font-size: smaller;color:coral;" th:text="|온라인티켓 : ${userInfo.ticket5}장|"></em>
                </p>
                <span class="btn_group">
                    <button type="button" class="btn_logout" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
                    <button type="button" class="menu_close">메뉴닫기</button>
                </span>
            </div>
        </div>
        <div class="menu" >
            <div class="menu_box active" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_ADMIN_SUB', 'ROLE_VIEW')">
                <h2 class="menu1">회원관리</h2>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_VIEW')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/list}'|">회원 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_VIEW')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/visit/list}'|">회원 최근 방문 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/point/list}'|">포인트 적립/차감 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/coupon/list}'|">외식쿠폰 적립/차감 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_ADMIN_SUB')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/ticket/history/list}'|">티켓 구매 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_ADMIN_SUB')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/rank/list}'|">회원 Ranking</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_ADMIN_SUB')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/user/ticket/rank/list}'|">티켓 Ranking</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_AGENT', 'ROLE_ADMIN_SUB')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/jackpot/history/list}'|">JackPot History</button>
                    </li>
                </ul>
            </div>

            <div class="menu_box active" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                <h2 class="menu2">가맹점관리</h2>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/agent/list}'|">가맹점 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/agent/point/list}'|">가맹점 적립/차감 목록</button>
                    </li>
                </ul>
            </div>

            <div class="menu_box active" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_GAME')">
                <h2 class="menu2">게임 관리</h2>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_GAME')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/game/list}'|">Game 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_GAME')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/game/blind/list}'|">Blind 목록</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_GAME')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/game/prize/list}'|">Prize 목록</button>
                    </li>
                </ul>
            </div>

            <div class="menu_box active" sec:authorize="hasAnyRole('ROLE_JACKPOT')">
                <h2 class="menu2">JackPot 관리</h2>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_JACKPOT')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/jackpot/list}'|">JackPot 목록</button>
                    </li>
                </ul>
            </div>

            <!--<div class="menu_box active" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                <h2 class="menu2">게시판 관리</h2>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/bdd/list}'|">게시물 목록</button>
                    </li>
                </ul>
            </div>-->

            <div class="menu_box active" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_ADMIN_SUB')">
                <h2 class="menu2">Sub Admin</h2>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_ADMIN_SUB')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/agent/sub/list}'|">Sub Admin 가맹점 적립</button>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_ADMIN_SUB')">
                        <button type="button" class="depth2" th:onclick="|location.href='@{/agent/point/sub/list}'|">Sub Admin 가맹점 적립 내역</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- side menu E -->

</html>

