<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>

<!-- modal S -->
<div class="modal fade small" id="reg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">토너먼트 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">토너먼트 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row"><em class="required">*</em>토너먼트명</th>
                                <td>
                                    <input type="text" name="tournamentName" id="tournamentName">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><em class="required">*</em>토너먼트 구분</th>
                                <td>
                                    <select id="gbn" name="gbn" style="width:150px;">
                                        <option value="N">일반부</option>
                                        <option value="U">대학부</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><em class="required">*</em>티켓 종류</th>
                                <td>
                                    <select id="ticketKind" name="ticketKind" style="width:150px;">
                                        <option value="ticket">주간 티켓</option>
                                        <option value="ticket2">프리 티켓</option>
                                        <option value="ticket3">월간 티켓</option>
                                        <option value="ticket4">K초대권 티켓</option>
                                        <option value="ticket5" selected>KLPT 시드권</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><em class="required">*</em>티켓 사용 장수</th>
                                <td>
                                    <input type="number" style="height: 30px;" name="ticketCnt" id="ticketCnt">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><em class="required">*</em>대회 시작 시간</th>
                                <td>
                                    <input type="datetime-local" style="height: 30px;" name="startDate" id="startDate">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:regTournament();">저장</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('reg_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="upt_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">토너먼트 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">토너먼트 정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row"><em class="required">*</em>토너먼트 명</th>
                            <td>
                                <input type="text" name="uptTournamentName" id="uptTournamentName">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><em class="required">*</em>티켓 종류</th>
                            <td>
                                <select id="uptTicketKind" name="uptTicketKind" style="width:150px;">
                                    <option value="ticket">주간 티켓</option>
                                    <option value="ticket2">프리 티켓</option>
                                    <option value="ticket3">월간 티켓</option>
                                    <option value="ticket4">K초대권 티켓</option>
                                    <option value="ticket5">KLPT 시드권</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><em class="required">*</em>티켓 사용 장수</th>
                            <td>
                                <input type="number" style="height: 30px;" name="uptTicketCnt" id="uptTicketCnt">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><em class="required">*</em>시작 시간</th>
                            <td>
                                <input type="datetime-local" style="height: 30px;" name="uptStartDate" id="uptStartDate">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:uptTournament();">저장</button>
                <button type="button" class="btn red btn-primary" th:onclick="javascript:delTournament();">삭제</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('upt_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade large" id="memo_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center" id="">메모</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-body">
                    <div class="form_box">
                        <p class="tb_tit">메모 정보</p>
                        <table class="form">
                            <colgroup>
                                <col width="20%;">
                                <col width="80%;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">메모</th>
                                <td>
                                    <textarea name="memo" id="memo"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue btn-primary" th:onclick="javascript:uptMemo();">저장</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('memo_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- container S -->
<div class="container">
    <!-- header S -->
    <div th:replace="/fragments/left.html :: fragment-left('m3', '/game/list')"></div>
    <!-- header E -->

    <!-- content S -->
    <div class="content">
        <div class="con_top">
            <ul>
                <li>대회 관리</li>
                <li>대회 목록</li>
            </ul>
        </div>
        <p class="page_info">대회 목록</p>

        <form id="schFrm">
            <input type="hidden" id="tournamentSeq" name="tournamentSeq" >

            <div class="search_option">
                <span class="input_group">
                    <select id="schCond1" name="schCond1" style="width:100px;">
                        <option value="name">토너먼트명</option>
                    </select>
                    <input type="text" style="width:1000px;" id="schText" name="schText" placeholder="검색어" th:value="${params.schText}">
                </span>
                <button type="button" class="search_btn" th:onclick="javascript:fnSearch();">조회</button>
                <button type="button" class="add_btn" th:onclick="javascript:fnRegModal()">등록</button>
            </div>
        </form>

        <div class="list_box">
            <table class="list">
                <colgroup>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">code</th>
                    <th scope="col">토너먼트 명</th>
                    <th scope="col">토너먼트 구분</th>
                    <th scope="col">토너먼트 이용 Ticket 종류</th>
                    <th scope="col">토너먼트 이용 Ticket 장수</th>
                    <th scope="col">등록일자</th>
                    <th scope="col">대회시작일시</th>
                    <th scope="col">등록 인원</th>
                    <th scope="col">상금</th>
                    <th scope="col">메모</th>
                    <th scope="col">Excel</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list:${tournamentList}">
                    <td th:text="${list.seq}"></td>
                    <td><a href="javascript:callFunction();" th:text="${list.tournamentName}" style="color:blue;" th:onclick="javascript:fnUptModal([[${list.seq}]], [[${list.tournamentName}]], [[${list.startDate}]], [[${list.ticketKindCode}]], [[${list.ticketCnt}]])"></a></td>
                    <td th:text="${list.gbn == 'N' ? '일반부' : (list.gbn == 'U' ? '대학부' : '')}"></td>
                    <td th:text="${list.ticketKind}"></td>
                    <td th:text="${list.ticketCnt}"></td>
                    <td th:text="${list.regDate}"></td>
                    <td th:text="${list.startDate}"></td>
                    <td>
                        <button type="button" class="tb_btn green" th:onclick="javascript:fnRegUserForm([[${list.seq}]], [[${list.ticketKindCode}]], [[${list.gbn}]]);">View</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn blue" th:onclick="javascript:fnPrizeForm([[${list.seq}]], [[${list.gbn}]]);">Prize</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn blue" th:onclick="javascript:fnMemo([[${list.seq}]], [[${list.memo}]]);">Memo</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn green" th:onclick="javascript:fnExcelExport([[${list.seq}]]);">Excel</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div class="paging" title="페이지">

            <th:block layout:fragment="paging">
                <nav th:replace="/fragments/pagination.html :: fragment-pagination"></nav>
            </th:block>

            <th:block layout:fragment="script">
                <script th:inline="javascript">
						/*<![CDATA[*/

						function movePage(uri, queryString) {
							location.href = uri + queryString;
						}

						/*]]>*/
					</script>
            </th:block>

        </div>
        <!-- /pagination -->

    </div>
    <!-- content E -->

</div>
<!-- container E -->
</body>
<script th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript">

    var selectTrSeq;

    $( function() {
    });

    function fnSearch(){
        $("#schFrm").submit();
    }

    function fnModalClose(id){
        $("#"+id).hide();
    }

    function fnRegModal(){
        $("#reg_modal").show();
    }

    function fnUptModal(seq, tournamentName, startDate, ticketKind, ticketCnt){
        selectTrSeq = seq;

        $("#uptTournamentName").val(tournamentName);
        $("#uptStartDate").val(startDate);
        $("#uptTicketKind").val(ticketKind);
        $("#uptTicketCnt").val(ticketCnt);

        $("#upt_modal").show();
    }

    function fnRegUserForm(seq, ticketKind, gbn){
        var url = "/tournament/tournamentRegList?tournamentSeq="+seq+"&ticketKind="+ticketKind+"&gbn="+gbn;
        window.open(url, "regInfo"+seq, "width=1200,height=800, left=100,scrollbars=yes,resizable=yes");
    }

    function fnPrizeForm(seq, gbn){
        var url = "/tournament/tournamentPrizeList?tournamentSeq="+seq+"&gbn="+gbn;
        window.open(url, "regInfo"+seq, "width=1200,height=800, left=100,scrollbars=yes,resizable=yes");
    }

    function fnMemo(seq, memo){
        selectTrSeq = seq;
        $("#memo").val(memo);
        $("#memo_modal").show();
    }

    function fnExcelExport(seq){
        $("#tournamentSeq").val(seq);
        $("#schFrm").attr("action", "/tournament/registerList/buildNDownload");
        $("#schFrm").submit();
    }

    function regTournament(){
        var formData = new FormData();

        if($("#tournamentName").val() == ''){
            alert("토너먼트 명은 필수 입니다.");
            $("#tournamentName").focus();
            return;
        }

        if($("#ticketKind").val() == ''){
            alert("티켓 사용 종류는 필수 입니다.");
            $("#ticketKind").focus();
            return;
        }

        if($("#ticketCnt").val() == ''){
            alert("티켓 사용 장수는 필수 입니다.");
            $("#ticketCnt").focus();
            return;
        }

        if($("#startDate").val() == ''){
            alert("대회 시작 시간 은 필수 입니다.");
            $("#startDate").focus();
            return;
        }

        formData.append("tournamentName", $("#tournamentName").val());
        formData.append("gbn", $("#gbn").val());
        formData.append("startDate", $("#startDate").val());
        formData.append("ticketKind", $("#ticketKind").val());
        formData.append("ticketCnt", $("#ticketCnt").val());

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/tournament/insertTournamentAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function uptTournament(){
        var formData = new FormData();

        if($("#uptTournamentName").val() == ''){
            alert("토너먼트 명은 필수 입니다.");
            $("#uptTournamentName").focus();
            return;
        }

        if($("#uptTicketKind").val() == ''){
            alert("티켓 사용 종류는 필수 입니다.");
            $("#uptTicketKind").focus();
            return;
        }

        if($("#uptTicketCnt").val() == ''){
            alert("티켓 사용 장수는 필수 입니다.");
            $("#uptTicketCnt").focus();
            return;
        }

        if($("#uptStartDate").val() == ''){
            alert("대회 시작 시간 은 필수 입니다.");
            $("#uptStartDate").focus();
            return;
        }

        formData.append("seq", selectTrSeq);
        formData.append("tournamentName", $("#uptTournamentName").val());
        formData.append("startDate", $("#uptStartDate").val());
        formData.append("ticketKind", $("#uptTicketKind").val());
        formData.append("ticketCnt", $("#uptTicketCnt").val());

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/tournament/updateTournamentAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function uptMemo(){
        var formData = new FormData();

        if($("#memo").val() == ''){
            alert("메모가 입력되지 않았습니다.");
            $("#memo").focus();
            return;
        }

        formData.append("seq", selectTrSeq);
        formData.append("memo", $("#memo").val());

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/tournament/updateMemoAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function delTournament(){
        var formData = new FormData();

        var msg = "정말 삭제 하시겠습니까?";

        if(confirm(msg)){
            formData.append("seq", selectTrSeq);

            $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/tournament/deleteTournamentAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
        }
    }

    function callFunction() {
        console.log('call function');
    }

</script>

</html>
