<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <title>KINGS LOUNGE</title>
  <meta name="description" content="KINGS LOUNGE" />
  <meta name="keywords" content="KINGS LOUNGE" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:title" content="KINGS LOUNGE" />
  <meta property="og:description" content="KINGS LOUNGE" />
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="intro">
    <img class="logo" src="img/logo.png" alt="KINGS LOUNGE">
    <img class="spinner" src="img/spinner.gif">

  </div>
</body>
<script src="./js/common.js"></script>
</html>
