<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>

<!-- modal S -->
<div class="modal fade large" id="history_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">주간 티켓 내역 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box" style="height:400px;">
                    <p class="tb_tit">주간 티켓 내역 정보</p>
                    <table class="form">
                        <thead>
                        <tr>
                            <th scope="col">적립구분</th>
                            <th scope="col">주간티켓수량</th>
                            <th scope="col">일자</th>
                            <th scope="col">처리자</th>
                        </tr>
                        </thead>
                        <tbody id="historyTbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('history_ticket_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">주간 티켓 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">회원정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName" id="minusTicketNickName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 주간 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket" id="totalMinusTicket" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 주간 티켓</th>
                            <td>
                                <input type="text" name="minusTicket" id="minusTicket" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red btn-primary" th:onclick="javascript:minusTicket();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">프리 티켓 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">회원정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName2" id="minusTicketNickName2" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 프리 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket2" id="totalMinusTicket2" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 프리 티켓</th>
                            <td>
                                <input type="text" name="minusTicket2" id="minusTicket2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red btn-primary" th:onclick="javascript:minusTicket2();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal2');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">월간 티켓 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">회원정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName3" id="minusTicketNickName3" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 월간 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket3" id="totalMinusTicket3" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 월간 티켓</th>
                            <td>
                                <input type="text" name="minusTicket3" id="minusTicket3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red btn-primary" th:onclick="javascript:minusTicket3();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal3');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">팀프로 티켓 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">회원정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName4" id="minusTicketNickName4" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 팀프로 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket4" id="totalMinusTicket4" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 팀프로 티켓</th>
                            <td>
                                <input type="text" name="minusTicket4" id="minusTicket4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red btn-primary" th:onclick="javascript:minusTicket4();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal4');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- modal S -->
<div class="modal fade small" id="minus_ticket_modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title center">웰컴 티켓 정보</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form_box">
                    <p class="tb_tit">회원정보</p>
                    <table class="form">
                        <colgroup>
                            <col width="20%;">
                            <col width="80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">별명</th>
                            <td>
                                <input type="text" name="minusTicketNickName5" id="minusTicketNickName5" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">총 웰컴 티켓</th>
                            <td>
                                <input type="text" name="totalMinusTicket5" id="totalMinusTicket5" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">차감 웰컴 티켓</th>
                            <td>
                                <input type="text" name="minusTicket5" id="minusTicket5" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red btn-primary" th:onclick="javascript:minusTicket5();">차감</button>
                <button type="button" class="btn_cancel" th:onclick="javascript:fnModalClose('minus_ticket_modal5');">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- modal E -->

<!-- container S -->
<div class="container">
    <!-- header S -->
    <div th:replace="/fragments/left.html :: fragment-left('m2', '/user/rank/list')"></div>
    <!-- header E -->

    <!-- content S -->
    <div class="content">
        <div class="con_top">
            <ul>
                <li>회원관리</li>
                <li>티켓 Ranking</li>
            </ul>
        </div>
        <p class="page_info">티켓 Ranking</p>

        <form id="schFrm">
            <div class="search_option">
                <span class="input_group">
                    <select id="schCond1" name="schCond1" style="width:100px;">
                        <option value="ticket1" th:selected="${params.schCond1} == 'ticket1'">주간 티켓</option>
                        <option value="ticket2" th:selected="${params.schCond1} == 'ticket2'">프리 티켓</option>
                        <option value="ticket3" th:selected="${params.schCond1} == 'ticket3'">월간 티켓</option>
                        <option value="ticket4" th:selected="${params.schCond1} == 'ticket4'">팀프로 티켓</option>
                        <option value="ticket5" th:selected="${params.schCond1} == 'ticket5'">웰컴 티켓</option>
                    </select>

                    <select id="schCond2" name="schCond2" style="width:150px;">
                        <option value="">전체</option>
                        <option th:each="list:${agentTotalList}" th:value="${list.agentCode}" th:text="${list.agentName}" th:selected="${list.agentCode} == ${params.schCond2}"></option>
                    </select>

                    <input type="text" style="width:1000px;" id="schText" name="schText" placeholder="검색어" th:value="${params.schText}" onkeyup="if(window.event.keyCode==13){fnSearch()}">
                </span>
                <button type="button" class="search_btn" th:onclick="javascript:fnSearch();">조회</button>
                <button type="button" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="reset_btn" th:onclick="javascript:fnWeekTicketDef();">주간티켓 초기화</button>
            </div>
        </form>

        <div class="list_box">
            <table class="list">
                <colgroup>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">RANKING</th>
                    <th scope="col">별명</th>
                    <th scope="col">주간 티켓</th>
                    <th scope="col">주간 티켓 차감</th>
                    <th scope="col">프리 티켓</th>
                    <th scope="col">프리 티켓 차감</th>
                    <th scope="col">월간 티켓</th>
                    <th scope="col">월간 티켓 차감</th>
                    <th scope="col">팀프로 티켓</th>
                    <th scope="col">팀프로 티켓 차감</th>
                    <th scope="col">웰컴 티켓</th>
                    <th scope="col">웰컴 티켓 차감</th>
                    <th sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" scope="col">전화번호</th>
                    <th sec:authorize="hasRole('ROLE_AGENT')" scope="col">전화번호</th>
                    <th scope="col">등록일자</th>
                    <th scope="col">주간 티켓 내역</th>
                    <th scope="col">프리 티켓 내역</th>
                    <th scope="col">월간 티켓 내역</th>
                    <th scope="col">팀프로 티켓 내역</th>
                    <th scope="col">웰컴 티켓 내역</th>
                    <th scope="col">최근 방문 일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list:${userTicketRankList}">
                    <td th:text="${list.ranking}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: coral;font-size: medium;' : ''"></td>
                    <td th:text="${list.nickName}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td th:text="${list.ticketStr}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket}>0" th:onclick="javascript:fnMinusTicket([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket}]])">차감</button>
                    </td>
                    <td th:text="${list.ticketStr2}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket2}>0" th:onclick="javascript:fnMinusTicket2([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket2}]])">차감</button>
                    </td>
                    <td th:text="${list.ticketStr3}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket3}>0" th:onclick="javascript:fnMinusTicket3([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket3}]])">차감</button>
                    </td>
                    <td th:text="${list.ticketStr4}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket4}>0" th:onclick="javascript:fnMinusTicket4([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket4}]])">차감</button>
                    </td>
                    <td th:text="${list.ticketStr5}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: red;font-size: medium;' : ''"></td>
                    <td>
                        <button type="button" class="tb_btn red" th:if="${list.ticket5}>0" th:onclick="javascript:fnMinusTicket5([[${list.phoneNum}]], [[${list.nickName}]], [[${list.ticket5}]])">차감</button>
                    </td>
                    <td sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" th:text="${list.phoneNum}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td sec:authorize="hasRole('ROLE_AGENT')" th:text="${list.phoneNumMasking}" th:styleappend="${list.ranking} < 11 ? 'font-weight: bold;color: blueviolet;font-size: medium;' : ''"></td>
                    <td th:text="${list.regDate}"></td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory2([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory3([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory4([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td>
                        <button type="button" class="tb_btn yellow" th:onclick="javascript:fnTicketHistory5([[${list.phoneNum}]])">내역</button>
                    </td>
                    <td th:text="${list.maxDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div class="paging" title="페이지">

            <th:block layout:fragment="paging">
                <nav th:replace="/fragments/pagination.html :: fragment-pagination"></nav>
            </th:block>

            <th:block layout:fragment="script">
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    function movePage(uri, queryString) {
                        location.href = uri + queryString;
                    }

                    /*]]>*/
                </script>
            </th:block>

        </div>
        <!-- /pagination -->

    </div>
    <!-- content E -->

</div>
<!-- container E -->
</body>
<script th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript">

    var selectTrSeq;
    var orgTicket;

    $( function() {
    });

    function fnSearch(){
        $("#schFrm").submit();
    }

    function fnTicketHistory(phoneNum){
        $("#historyTbody").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistoryAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbody").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function fnTicketHistory2(phoneNum){
        $("#historyTbody").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistory2Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbody").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function fnTicketHistory3(phoneNum){
        $("#historyTbody").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistory3Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbody").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function fnTicketHistory4(phoneNum){
        $("#historyTbody").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistory4Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbody").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function fnTicketHistory5(phoneNum){
        $("#historyTbody").empty();

        var formData = new FormData();

        formData.append("phoneNum", phoneNum);

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/ticket/selectTicketHistory5Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                if(response.historyTicketList != null){
                    var appendStr = '';
                    for(var i=0 ; i<response.historyTicketList.length ; i++){
                        var appendStr_01 = "<td>"+response.historyTicketList[i]['ticketGbnNm']+"</td>>";
                        var appendStr_02 = "<td>"+response.historyTicketList[i]['ticket']+"</td>>";
                        var appendStr_03 = "<td>"+response.historyTicketList[i]['regDate']+"</td>>";
                        var appendStr_04 = "<td>"+response.historyTicketList[i]['agentName']+"</td>>";

                        appendStr += "<tr>" + appendStr_01 + appendStr_02 + appendStr_03 + appendStr_04 + "</>tr>";
                    }

                    $("#historyTbody").append(appendStr);
                }

                $("#history_ticket_modal").show();
            },
            error: function(error) {
                // 실패 시 동작
            }
        });
    }

    function fnModalClose(id){
        $("#"+id).hide();
    }

    function fnMinusTicket(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName").val(nickName);
        $("#totalMinusTicket").val(ticket);
        $("#minus_ticket_modal").show();

        $("#minusTicket").focus();
    }

    function fnMinusTicket2(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName2").val(nickName);
        $("#totalMinusTicket2").val(ticket);
        $("#minus_ticket_modal2").show();

        $("#minusTicket2").focus();
    }

    function fnMinusTicket3(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName3").val(nickName);
        $("#totalMinusTicket3").val(ticket);
        $("#minus_ticket_modal3").show();

        $("#minusTicket3").focus();
    }

    function fnMinusTicket4(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName4").val(nickName);
        $("#totalMinusTicket4").val(ticket);
        $("#minus_ticket_modal4").show();

        $("#minusTicket4").focus();
    }

    function fnMinusTicket5(phoneNum, nickName, ticket){
        selectTrSeq = phoneNum;

        $("#minusTicketNickName5").val(nickName);
        $("#totalMinusTicket5").val(ticket);
        $("#minus_ticket_modal5").show();

        $("#minusTicket5").focus();
    }

    function minusTicket(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket").val());

        $("#minus_ticket_modal").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicketAjax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });

    }

    function minusTicket2(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket2").val());

        $("#minus_ticket_modal2").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicket2Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });

    }

    function minusTicket3(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket3").val());

        $("#minus_ticket_modal3").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicket3Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });

    }

    function minusTicket4(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket4").val());

        $("#minus_ticket_modal4").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicket4Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });

    }

    function minusTicket5(){
        var formData = new FormData();

        formData.append("phoneNum", selectTrSeq);
        formData.append("minusTicket", $("#minusTicket5").val());

        $("#minus_ticket_modal5").hide();
        $("#loading_modal").show();
        $("#my-spinner").show();

        $.ajax({
            contentType:false,
            processData:false,
            type: "POST",
            url: "/user/updateUserMinusTicket5Ajax",
            data: formData,
            success: function(response) {
                // 성공 시 동작
                alert(response.resultMsg);
                $("#loading_modal").hide();
                $("#my-spinner").hide();
                fnSearch();
            },
            error: function(error) {
                // 실패 시 동작
                $("#loading_modal").hide();
                $("#my-spinner").hide();
            }
        });

    }

    function fnWeekTicketDef(){
        var msg = "전체 주간 티켓을 초기화 하시겠습니까?";
        if(confirm(msg)){
            $.ajax({
                contentType:false,
                processData:false,
                type: "POST",
                url: "/user/updateAllUserWeekTicketDefAjax",
                success: function(response) {
                    // 성공 시 동작
                    alert(response.resultMsg);
                    window.location.reload();
                },
                error: function(error) {
                    // 실패 시 동작
                }
            });
        }
    }

</script>

</html>
